
.featured-media {
  width: 100%;
  margin-bottom: -11%;
  position: relative;
}

/* .featured-media::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  background: linear-gradient(to bottom, #141414 10%, transparent 90%);
  z-index: 1;
  pointer-events: none;
} */

.featured-media__media-wrap::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background: linear-gradient(to top,  #141414 50%, transparent 90%);
  z-index: 1;
  pointer-events: none;
}

.featured-media__media-wrap {
  width: 100%;
  /* overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; */
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  /* padding-top: 42.86%; 
  padding-top: 50%;  */
  overflow: hidden;
}

.featured-media__media-wrap iframe {
  transform: scale(1.3);
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
}

.featured-media__meta {
  position: absolute;
  bottom: 25%;
  left: 60px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  z-index: 3;
}

.featured-media__meta h2{
  font-size: 4vw;
  line-height: 1.2;
}

.featured-media__description{
  color: #fff;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .45);
  margin-bottom: 5px;
}

.featured-media__ctas {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.featured-media__backdrop-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.featured-media__video-controls {
  position: absolute;
  bottom: 25%;
  right: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
  z-index: 3;
}

@media screen and (max-width: 1024px) {
  .featured-media__meta h2 {
    font-size: 32px;
  }
  .featured-media__meta {
    width: 50%;
    left: 20px;
  }
  .featured-media__description{
    font-size: 16px;
  }
  .featured-media__video-controls {
    right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .featured-media {
    margin-bottom: 30px;
    margin-top: 68px;
  }
  .featured-media__meta {
    position: relative;
    width: 100%;
    left: 0;
    padding: 20px 20px 0;
    gap: 10px;
  }
  .featured-media__media-wrap iframe {
    transform: scale(1);
    top: 0;
  }
  .featured-media__media-wrap::after {
    content: unset;
  }
  .featured-media__meta h2 {
    font-size: 26px;
  }
  .featured-media__video-controls {
    bottom: 20%;
  }
}