*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

:root {
  --color-primary: #141414;
  --color-secondary: #f1c40f;
}

#root {
  overflow: hidden;
}

#root:has(.media-details), #root:has(.search) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
}

body {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  font-size: 16px;
  background: var(--color-primary);
  color: #fff;
  overflow-x: hidden;
  height: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

i {
  margin-right: 5px;
}

ul {
  list-style: none;
}

.text-primary {
  color: var(--color-secondary);
}

.text-secondary {
  color: var(--color-secondary);
}

.active {
  color: var(--color-secondary);
  font-weight: 700;
}

.back {
  margin-top: 30px;
}

/* .btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease-in-out;
} */

/* .btn:hover {
  background: var(--color-secondary);
  color: #000;
} */

.btn:disabled {
  border-color: #ccc;
  cursor: not-allowed;
}

.btn:disabled:hover {
  background: transparent;
  color: #fff;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
}

.page-width {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 60px;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  /* background: #141414; */
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
  transition: background 0.3s ease, background-color 0.3s ease;
  z-index: 10;
}

.main-header__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 45px;
}

.main-header .logo {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-header .logo a {
  color: #e50914;
}

.main-header ul {
  display: flex;
}

.main-header ul li {
  margin-right: 20px;
}

.main-header ul li a {
  font-size: 14px;
  color: #e5e5e5;
  transition: color .4s;
}

.main-header ul li a:hover {
  color: #b3b3b3;
}

.main-header__right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main-header svg {
  cursor: pointer;
}

.main-header__account {
  display: flex;
  align-items: center;
  justify-content: center;
}

.caret {
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    height: 0;
    margin-left: 10px;
    transition: transform 367ms cubic-bezier(.21,0,.07,1);
    width: 0;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

/* Card */
.card {
  border-radius: .2vw;
}

.card img {
  width: 100%;
}

.card-body {
  padding: 10px;
  font-size: 20px;
}

.card:hover {
  transform: scale(1.02);
  transition: all 0.5s ease-in-out;
}

/* Shows Page */
.popular-shows {
  margin-top: 100px;
}

.popular-shows h2{
  margin-bottom: 20px;
  text-align: center;
}

/* Footer */
.main-footer {
  background: #141414;
  padding: 20px 0;
  margin-top: 20px;
  width: 100%;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer .container .logo {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-footer .container .social-links {
  display: flex;
  font-size: 20px;
}

.main-footer .container .social-links a {
  margin-left: 10px;
  color: #fff;
}

.main-footer .container .social-links a:hover {
  color: var(--color-secondary);
}

/* Section: Now Playing */

section.now-playing {
  padding: 60px;
}

section h2 {
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
}

/* Slider */
.swiper {
  overflow: visible!important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-rating {
  padding: 10px;
}

.swiper-button-prev {
  opacity: 0!important;
  left: -50px !important;
  color: #ffffff!important;
  top: 52%!important;
  transition: opacity 0.1s ease-in-out;
}

.swiper-button-next {
  opacity: 0!important;
  right: -50px !important;
  color: #ffffff!important;
  top: 52%!important;
  transition: opacity 0.1s ease-in-out;
}

.swiper-button-prev:after {
  font-size: 30px!important;
}

.swiper-button-next:after {
  font-size: 30px!important;
}

.swiper:hover .swiper-button-next:not(.swiper-button-disabled), .swiper:hover .swiper-button-prev:not(.swiper-button-disabled) {
  opacity: 1!important;
}

.swiper-button-disabled {
  opacity: 0!important;
  transition: opacity 0.3s ease-in-out;
}

.swiper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  width: 60px;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background: linear-gradient(to right,  #141414, transparent);
  transform: translateX(-100%);
  z-index: 2;
  border-radius: .2vw;
}

.swiper:not(:has(.swiper-button-disabled)):before {
  opacity: 0.5;
}

.swiper:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  opacity: 0.5;
  background: linear-gradient(to left,  #141414, transparent);
  transform: translateX(100%);
  z-index: 2;
  border-radius: .2vw;
}

.swiper-pagination {
  top: -30px!important;
  right: 0!important;
  width: unset!important;
  left: unset!important;
  height: fit-content!important;
}

.swiper-pagination .swiper-pagination-bullet {
  border-radius: 0!important;
  height: 2px!important;
  width: 12px!important;
  margin: 0 1px!important;
  background-color: #4d4d4d;
  opacity: 1!important;
}

.swiper-pagination-bullet-active {
  background-color: #aaa!important;
}

/* Movie Details */
.media-details {
  margin-top: 100px;
}

.details-top {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  margin: 0 0 80px;
}

.details-top__vid-wrap {
  display: none;
}

.details-top__vid-wrap:has(iframe) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow: hidden;
  grid-column: span 2;
  margin-top: 50px;
  max-width: 1200px;
  margin: 80px auto 0;
}

.details-top__vid-wrap h2{
  font-size: 18px;
  text-align: left;
}

.details-top__vid {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.details-top__vid iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.details-top h5{
  font-size: 16px;
}

@media (max-width: 700px) {
  .details-top {
    display: block;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: #ccc solid 1px;
  }
}

.backdrop-wrapper {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.2;
}

.backdrop-wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background: linear-gradient(to top,  #141414 50%, transparent 90%);
  z-index: 1;
  pointer-events: none;
}

.media-details__backdrop {
  width: 100%;
  height: auto;
}

.details-top__poster {

}

.details-top__meta {
  padding-left: 30px;
}

.details-top img {
  width: 100%;
}

.details-top p {
  margin: 20px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .45);
}

.details-top .btn {
  margin-top: 20px;
}

.details-bottom {
  margin-bottom: 50px;
}

.details-bottom h2 {
  font-size: 18px;
  text-align: left;
}

.details-bottom li {
  margin: 15px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.1);
}

/* Search */
.search {
  padding: 100px 60px 60px;
  margin-bottom: 40px;
}

.search .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search .container h2 {
  margin-bottom: 20px;
}

.search .container form {
  width: 100%;
  max-width: 600px;
}

.search-radio label {
  margin-right: 15px;
}

.search-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.search .container form input[type='text'] {
  flex: 6;
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  font-size: 15px;
}

.search .container form input[type='text']::placeholder {
  color: #fff;
}

.search .container form input[type='text']:focus {
  outline: none;
}

.search .container form button {
  flex: 1;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  height: 50px;
  cursor: pointer;
  background: var(--color-secondary);
  color: #000;
}

.search .container form button:hover {
  color: #fff;
}

.search input[type='radio'] {
  margin-right: 6px;
}

.search label {
  cursor: pointer;
}

#search-results-heading h2 {
  text-align: left;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
}

.pagination {
  margin-top: 20px;
}

.pagination-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.page-counter {
  margin-top: 10px;
}

/* Alert */
.alert {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.success {
  background: green;
}

.error {
  background: red;
}

.backdrop {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 80%;
  max-height: 900px;
  width: 100%;
  position: absolute;
  top: 78px;
  left: 0;
  z-index: -2;
  opacity: 0.1;
}

/* div#movie-details::after, div#show-details::after {
  content: '';
  position: absolute;
  bottom: calc(50% - 78px);
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(to bottom, #00000000, #050b15);
  z-index: -1;
} */

/* Spinner From: https://codepen.io/tbrownvisuals/pen/edGYvx */
.spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.show {
  display: block;
}

/* Transparent Overlay */
.spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

  background: -webkit-radial-gradient(
    rgba(20, 20, 20, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

/* :not(:required) hides these rules from IE9 and below */
.spinner:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.spinner:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Buttons */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  padding: 0.474rem 1.54rem 0.474rem 1.303rem;
  font-size: 1.063rem;
  font-weight: 500;
  line-height: 1.54rem;
  border: none;
  cursor: pointer;
  width: fit-content;
  transition: background-color .3s ease-in-out;
}

.play-btn {
  background-color: #ffffff;
  color: #000;
}

.play-btn:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.mute-btn {
  border-radius: 100px;
  padding: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: white;
}

.mute-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.more-info-btn {
  background-color: #6d6d6eb3;
  color: #ffffff;
}

.more-info-btn:hover {
  background-color: rgba(109, 109, 110, 0.4);
}

